@keyframes logoMoving {
  0% {
    top: 250px;
    left: 24px;
    transform: translateX(0);
  }
  100% {
    top: 112px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes formMoving {
  0% {
    bottom: -100px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

.logo {
  position: absolute;
  top: 112px;
  left: 50%;
  transform: translateX(-50%);

  animation: logoMoving 700ms ease-out;
}

.loginForm {
  position: absolute;
  bottom: 0;

  display: flex;

  width: 100%;
  height: calc(100% - 326px);

  background: #ffffff;
  border-radius: 42px 42px 0 0;

  justify-content: center;

  animation: formMoving 700ms ease-out;
}
.loginForm > form {
  width: 350px;

  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.loginForm > form > input {
  margin-top: 90px;
  padding-left: 14px;

  width: 350px;
  height: 64px;

  display: block;

  border: 10px solid #501e6f;
  font-family: "Gothic A1", sans-serif;
  font-size: 24px;
  border-radius: 8px;
}
.loginForm > form > button {
  margin-top: 22px;

  width: 300px;
  height: 72px;

  display: block;

  border: none;
  border-radius: 24px;
  background: #9e40d7;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.loginForm > form > button:active {
  transform: translateY(4px);
  box-shadow: none;
}
.loginForm > form > span:nth-of-type(1) {
  margin-top: 28px;

  font-family: "Righteous", cursive;
  font-size: 24px;
  color: #501e6f;
}
.loginForm > form > p {
  margin-top: 10px;

  width: 100%;
  height: 180px;

  font-size: 16px;
  text-align: center;
  line-height: 20px;

  color: #333333;
}
.loginForm > form > p > span {
  font-family: "Righteous", cursive;
  color: #501e6f;
}
.loginForm > form > p > b {
  font-weight: 700;
}
.loginForm > form > p > span:last-child {
  font-size: 12px;
  color: #aaaaaa;
}
