.logo {
  top: 250px;
  left: 24px;
}
.logo > h1 {
  width: 220px;
  height: 70px;

  font-size: 64px;
  font-family: "Righteous", cursive;
  color: #fff;
}
.logo > h1:nth-of-type(2) {
  text-align: right;
}
